@import url("fonts/fonts.css");

h1.title{
	font-size:8rem;
	font-family: Vollkorn, serif;
	font-weight: normal;

	letter-spacing:0.11em;
	text-shadow: #686 0px 3px 3px;
  text-align:center;

	width:100%;
  box-sizing: border-box;
	padding: 10px;
	margin: 0px;
	margin-top: 17px;
}

.content{
	border:1px #c0e0c0 solid;
	color: #546354;
	font-weight:bold;
}

.content a {
  color:#6F806F;
  text-decoration:none;
}

ul{
	border:#6F806F 0px solid;
	border: 1px #8fa88f solid;
	background-color: #d3f3d3;
}
